
@{
    ViewBag.Title = "_MiLista";
}

<h2>Seguir viendo</h2>

<style>
    div.scrollmenu {
    background-color: #333;
    overflow: auto;
    height: 250px;
    padding-top:2em;
    padding-left:2em;
    padding-right:2em;
    
}
    

</style>

<div class="scrollmenu">
        <div class="card-deck">
            <div id="cardContainer" class="row">
                
            </div>
            
        </div>
    

    </div>
    



