
@{
    ViewBag.Title = "Index";
    
}

<h2>Pagina de pruebas</h2>

<div class="container float-lg-left" style="width: 50%" >
    <img src="~/robot.jpg" alt="robot" class="img-fluid" />
</div>

<div class="container float-lg-right" style="width: 49%" >
    <center>
        <p>lorem ipsum aofafoafoamomkmokaf</p>
    </center>
</div>

<div style="clear:both">
    
</div>
