@model IEnumerable<VideoOnDemand.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    table#movie {
        width:200px;
        height:350px;
        float:left;
    }
</style>

<h2>Películas</h2>


<form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Nombre de la Película" aria-label="Search" name="Search">
    <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit" value="Buscar">Buscar</button>
</form>

<br>
<div class="container">
	<div class="row">
		@foreach (var item in Model)
		{<div class="col-md-4">
				<div class="panel" style="border:groove; background-color : antiquewhite;min-height:250px">
					<div class="panel text-center">
						<div class="panel-body">
							<h4 class="card-title">@Html.DisplayFor(itemModel => item.Nombre)</h4>
							<h5 class="card-subtitle">@Html.DisplayFor(itemModel => item.FechaDeLanzamiento)</h5>
							<p class="card-text">Descripcion: @Html.DisplayFor(itemModel => item.Descripcion)</p>
							<a href="#" class="btn btn-primary">+ Mi Lista</a>
							<a href="#" class="btn btn-primary">Detalles</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
