@{
    ViewBag.Title = "Home Page";
}

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <input hidden id="auxId" value="" />
                <button id="btnCloseVideo" onclick="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="videoOnPlay" class="embed-responsive-item" controls>
                            <source src="~/Content/Media/video.mp4" type="video/mp4" />
                        </video>

                    </div>
                </div>
                <br />

                <input id="hdnUrlGetOnPlay" type="hidden" value="@Url.Action("GetOnPlay", "MediaOnPlay")" />
                <input id="hdnUrlAgregarOnPlay" type="hidden" value="@Url.Action("AgregarOnPlay","MediaOnPlay")" />
            </div>

        </div>
    </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/Media/Extraordinario.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Media/Tropa Heroes.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Media/Valerian.jpg" alt="Third slide">
        </div>
        <div class="card">

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>

<br />
@{Html.RenderPartial("_MiLista");

}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/mediaOnPlay.api.js"></script>
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: '@Url.Action("GetListOnPlay", "MediaOnPlay")',
                type: 'GET',
                dataType: 'JSON',
                data: null,
                success: function (data) {
                    if (data.Success) {
                        var playing = JSON.parse(data.ListOnPlay);
                        for (var i = 0; i < playing.length; i++) {
                            pintarOnPlay(playing[i]);
                        }
                    }

                }
            });
        });

        function pintarOnPlay(mediaOnPlay) {

            var html = "";

            html += "<div class='card'>";
            html += "<div class='card-body'>";
            html += "<h4 class='card-title' style='color:black'>" + mediaOnPlay.Media.Nombre + "</h4>";
            html += "<p class='card-text' style='color:black'>" + mediaOnPlay.Media.Descripcion + "</p>"
            html += "<button onclick='cargarModal(" + mediaOnPlay.MediaId + ")' type='button' class='btn btn-info btn-lg' data-toggle='modal' data-target='#myModal'>Reproducir</button>";
            html += "</div>";
            html += "</div>";


            $("#cardContainer").append(html);
        }

    </script>
}


    

